/target/
/.venv*/
/.wheel-*/
/.compat-venv/
/.parity-venv/
/dist/
/docs/python/generated/
/julia/Thouless/deps/usr/lib/
/julia/Thouless/docs/build/
/julia/Thouless/docs/Manifest.toml
/julia/Thouless/Manifest.toml
/.pytest_cache/
/**/__pycache__/
*.pyc
*.so
